table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: $color__white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td,
th {
	border: 1px solid #d8d8d8;
	border-spacing: 0;
	text-align: left;
	padding: 8px;
}
