/* Typography */
h1 {
	margin: 0;
	font-size: 40px;
}

h2 {
	margin: 0;
	font-size: 36px;
}

h3 {
	margin: 0;
	font-size: 32px;
}

h4 {
	margin: 0;
	font-size: 28px;
}

h5 {
	margin: 0;
	font-size: 24px;
}

h6 {
	margin: 0;
	font-size: 20px;
}

p {
	margin: 0;
}

.txt-light {
	font-size: 300;
}

.txt-bold {
	font-weight: 600;
}

.txt-extra-bold {
	font-weight: 800;
}

.txt-italic {
	font-style: italic;
}

.txt-5 {
	font-size: 5px;
}

.txt-10 {
	font-size: 10px;
}

.txt-15 {
	font-size: 15px;
}

.txt-20 {
	font-size: 20px;
}

.txt-25 {
	font-size: 25px;
}

.txt-30 {
	font-size: 30px;
}

.txt-35 {
	font-size: 35px;
}

.txt-40 {
	font-size: 40px;
}

.txt-45 {
	font-size: 45px;
}

.txt-50 {
	font-size: 50px;
}

.txt-uppercase {
	text-transform: uppercase;
}

.txt-lowercase {
	text-transform: lowercase;
}

.txt-no-dec {
	text-decoration: none;
}

.txt-underline {
	text-decoration: underline;
}
